<?xml version="1.0"?>
<launch>  
  <!-- Move Base Flex -->
  <arg name="robot" default="$(env ROBOT_NAME)"/>
  <arg name="project" default="motion_ctrl"/>
  <!-- <param name="/use_sim_time" value="true"/> -->
  
  <group ns="$(arg robot)">
    <include file="$(find motion_ctrl)/launch/sim.launch" />
    <include file="$(find motion_ctrl)/launch/server.launch" />
  
    <node pkg="motion_ctrl" type="turtle_tf_broadcaster.py" respawn="true" name="turtle_tf_broadcaster" output="screen">
      <param name="turtle" value="$(arg robot)" />
    </node>

    <node pkg="motion_ctrl" type="send_goals" respawn="true" name="send_goals" output="screen" />

    <node pkg="motion_ctrl" type="logger.py" respawn="true" name="logger" output="screen" />

    <node pkg="fake_localization" type="fake_localization" respawn="true" name="fake_localization" output="screen">
      <param name="base_frame_id" value="base_footprint" />
      <remap from="base_pose_ground_truth"    to="base_pose_ground_truth"  />
    </node>

    <include file="$(find turtlebot3_hospital_sim)/launch/move_base.launch" />
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
   <!--  <node type="rviz" name="rviz" pkg="rviz" >
      <remap from="/move_base_simple/goal"    to="/$(arg robot)/move_base_simple/goal"  />
    </node> -->
  </group>

</launch>
